@model OOADProject.Models.DR_Car

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
    <div class="col-lg-4">
        <div class="thumbnail item-image detail-image">
            <img src="@Html.DisplayFor(modelItem => Model.Photo)" alt="@Html.DisplayFor(modelItem => Model.Type)">
        </div>
    </div>
    <div class="col-lg-2">車型</div>
    <div class="col-lg-6">@Html.DisplayFor(model => model.Type)</div>
    <div class="col-lg-2">車種</div>
    <div class="col-lg-6">@Html.DisplayFor(model => model.Catalog)</div>
    <div class="col-lg-2">座位數</div>
    <div class="col-lg-6">@Html.DisplayFor(model => model.SeatAmount)</div>
    <div class="col-lg-2">車商</div>
    <div class="col-lg-6">@Html.DisplayFor(model => model.CarCompany)</div>
    <div class="col-lg-2">日租價錢(天)</div>
    <div class="col-lg-6">@Html.DisplayFor(model => model.Price)</div>
    <div class="col-lg-2">租車廠商</div>
    <div class="col-lg-6">@Html.DisplayFor(model => model.DR_RentalCompany.Name)</div>
    <div class="col-lg-2">車站資訊</div>
    <div class="col-lg-6">@Html.DisplayFor(model => model.DR_CarStation.Name) ( @Html.DisplayFor(model => model.DR_CarStation.Phone) )</div>
    <div class="col-lg-2">車站地址</div>
    <div class="col-lg-6">@Html.DisplayFor(model => model.DR_CarStation.Address)</div>

</div>
