@model IEnumerable<OOADProject.Models.DR_Car>

@{
    ViewBag.Title = "Index";
}
<div class="col-md-12 col-sm-12 col-lg-12" style="margin-bottom:50px">
    <h2>搜尋結果：@Html.ViewData["Keyword"]</h2>
    <button data-toggle="collapse" data-target="#demo" class="btn btn-default">Filter</button>
    <div id="demo" class="collapse in">
        @Html.Partial("_Filter")
    </div>
</div>

@*dropdownlist from databse
<div class="form-group">
    <div class="col-md-10">
        @Html.DropDownList("CarCompany", null, htmlAttributes: new { @class = "form-control" })
    </div>
</div>*@

@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail item-image">
            <img src="@Html.DisplayFor(modelItem => item.Photo)" alt="@Html.DisplayFor(modelItem => item.Type)">
        </div>

        <div class="caption">
            <h3>@Html.ActionLink(item.Type, "Details", new { id = item.Id })</h3>
            <p>車型: @Html.DisplayFor(modelItem => item.Catalog)</p>
            <p>日租價錢: @Html.DisplayFor(modelItem => item.Price)</p>
        </div>
    </div>
}

<div class="col-md-12 col-sm-12 col-lg-12"></div>
