@model OOADProject.Models.ChangePhotoViewModel

@{
    ViewBag.Title = "更換大頭貼";
}

<h2>更換大頭貼</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
            <div id="uploadimage-div" class="dropzone picdiv btn-default">
                <img id="photo" />
                @*<input type="text" id="photo_url" />*@
            </div>
            <script type="text/javascript" src="~/Scripts/imgur.js"></script>
            <script type="text/javascript">
            var feedback = function (res) {
                if (res.success === true) {
                    $(".dropzone p").hide();
                    $("#photo").attr('src', res.data.link);
                    //$("#photo_url").val(res.data.link);
                    $("#url_form").val(res.data.link);
                    $("#photo").show();
                }
            };

            new Imgur({
                clientid: '2aeeb2a54292921',
                callback: feedback
            });
            </script>  
       
        <div class="form-group hide">
            @Html.LabelFor(model => model.NewPhotoUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewPhotoUrl, new { htmlAttributes = new { @class = "form-control", id="url_form" } })
                @Html.ValidationMessageFor(model => model.NewPhotoUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("< 回帳號管理", "Index")
</div>
